# Useful .gitignore templates:
# https://github.com/github/gitignore

# Linux:
*~
# Linux trash folder which might appear on any partition or disk
.Trash-*

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Sass:
# Cache files
.sass-cache
# Sourcemaps
*.css.map

# Node:
# Dependency directory (https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git-)
node_modules
# Debug log from npm
npm-debug.log
